{% extends 'admin/base.html.twig' %}

{% block title %}/{{titre}}{% endblock %}

{% block body %}
<h1 class="mt-5 mb-3 text-center mx-auto">{{titre}}</h1>
<table class="table table-hover table-striped text-center table-fluid">
    <thead>
        <tr class="bg-dark text-light">
            <th>Id annaonce</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Réservations</th>
            <th>Note moyenne</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for ad in ads %}
        <tr>
            <td class="align-middle">{{ad.id}}</td>
            <td class="align-middle">{{ad.title}}</td>
            <td class="d-flex justify-content-around align-items-center">
                <img src="{{ad.author.picture}}" class="rounded-circle thumbail img-fluid img-thumbnail" alt="avatar de {{ad.author.fullName}}">
                {{ad.author.fullName}}
            </td>
            <td class="align-middle">{{ad.bookings|length}}</td>
            <td class="align-middle">{{ad.avgRatings|round(1,'floor')}}</td>
            <td class="align-middle">
            <a href="{{path('edit_admin_ad',{'id':ad.id})}}" class="btn btn-primary"><i class='fa fa-edit' aria-hidden='true'></i></a>
            <a href="{{path("delete_admin_ad", {'id':ad.id})}}" class="btn btn-danger "><i class='fa fa-trash' aria-hidden='true'></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
