{% extends "base.html.twig" %}
{% block title %}/ {{titre}}{% endblock %}
{% block body %}
    <h1 class="text-center mb-5 pb-5 border-bottom border-grey mx-auto">{{titre}}</h1>
    {{ form_start(form, {'attr':{'class':'form-group'}}) }}
    {{ form_widget(form, {'attr':{'class':'form-group'}}) }}
    <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-primary" value="Valider les informations">
    </div>
{{ form_end(form) }}
{% endblock %}