{% extends "base.html.twig" %}
{% block title %}/ {{titre}}{% endblock %}
{% block body %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger p-4">
        {{message}}    
    </div>
{% endfor %}
<h1 class="text-center mb-5 pb-5 border-bottom border-grey mx-auto">{{titre}}</h1>
{{ form_start(form, {'attr':{'class':'form-group'}}) }}
{{ form_widget(form, {'attr':{'class':'form-group'}}) }}
    <div class="d-flex justify-content-end mb-5">
        <button type="submit" class="btn btn-primary">Modifier le mot de passe !</button> 
    </div>
{{ form_end(form) }}
{% endblock %}
{% block javascripts %}{% endblock %}