{% extends "base.html.twig" %}
{% block title %}/ Résumé de location {% endblock %}
{% block body %}
{# Ici commence Alert qui resume les dates de reservations #}
{% if app.request.query.get('withAlert') %}
    <div class="alert alert-success p-4 rounded border border-light">
        <h5><b>Bravo !!!</b></h5>
        <p class='h5'>Votre réservation a bien été effectuée pour
            <b>{{ booking.getDuration() }} nuits</b>&nbsp; à
            <b>{{ booking.ad.getPrice() }} &euro; / nuits</b>&nbsp;soit
            <b>{{ booking.getAmount() }} &euro;</b>
            pour la période du <b>{{ booking.startDate | format_datetime('full', 'none', locale='fr')}} au {{ booking.endDate | format_datetime('full', 'none', locale='fr')}}</b> .
            <a 
            class='btn btn-info p-2 mx-3' 
            href="{{ path('get_ad',{'slug':booking.ad.slug}) }}"
            role='button'>
                Détails de l'offre
            </a>
        </p>
    </div>
{% endif %}
{# Ici commence le titre de la reservation #}
{% set author = booking.ad.author %}
<h1 class="text-center mb-5 pb-5 border-bottom border-grey mx-auto"> Résumé de la location <b>{{ booking.getAd().getTitle() }}</b></h1>
{# Ici commence le détail de l'hôte #}
<div class="row mx-auto col-12 col-sm-12 col-lg-8 d-flex justify-content-center align-items-baseline">
    <div class="col-sm-12 col-12 col-md-5 col-lg-5 d-flex justify-content-center">
        <dl class="my-1 mt-3 mx-auto col-8 col-md-12 bg bg-light rounded">
            <dt class="my-1 mt-3 mx-auto h3 alert-heading">Votre hôte</dt>
            <dd class="ml-3">
                <a href="{{ path('account_profil', {'slug':author.slug}) }}" 
                    class="text-decoration-none d-flex d-inline align-items-center">
                    <img src="{{ author.picture }}" 
                    alt="image de {{ author.fullname() }}" 
                    class="rounded-circle img-thumbnail thumbail mr-3 mr-md-0 mr-lg-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-md-12 col-lg-12 d-flex d-wrap justify-content-center mx-auto">{{ author.fullname() }}</div>
                        <div 
                            class="badge badge-primary col-10 col-md-5 col-lg-7 d-flex d-wrap justify-content-center mx-auto p-2">
                            {{ author.ads|length }}
                                {% if author.ads|length>1 %} Annonces  
                                {% else %} Annonce
                                {% endif %}
                        </div>
                    </div>
                </a>
                    <div class="d-flex d-wrap col-12 text-muted">{{ author.introduction }}</div>
            </dd>
            <dt class="my-1 mt-3 mx-auto">Titre de l'annonce choisie</dt>
            <dd class="ml-3">
            {{ booking.ad.title }}
            </dd>
            <img src="{{ booking.ad.coverImage }}" alt="image de {{booking.ad.title}}" class="img-fluid rounded border border-dark mt-3">
            <p class="mt-2 text-muted">{{ booking.ad.introduction }}</p>
                <div>
                    <a href="{{ path('get_ad',{'slug':booking.ad.slug}) }}" class="badge badge-success p-2">En savoir plus</a>
                </div>
            <dt class="my-1 mt-3 mx-auto">Numéro de réservation</dt>
            <dd class="ml-3">{{ booking.Id }}</dd>
            <dt class="my-1 mt-3 mx-auto">Prise de réservation le :</dt>
            <dd class="ml-3">{{ booking.getCreateAt() | format_datetime('full', 'none', locale='fr') }}</dd>
        </dl>
    </div>
    {# Ici commence le détail des dates #}
    <div class="col-sm-12 col-12 col-md-5 col-lg-6 d-flex justify-content-center flex-wrap">
        <dl class="my-1 mt-3 mx-auto col-9 bg bg-light rounded">
            <dt class="my-1 mt-3 mx-auto h3 alert-heading">Vos dates</dt>
            <dt class="my-1 mt-3 mx-auto">Date de réservation</dt>
            <dd class="ml-3">
                Du 
                {{ booking.startDate() | format_datetime('full', 'none', locale='fr') }}
                au
                {{ booking.endDate() | format_datetime('full', 'none', locale='fr') }}
            </dd>
            <dt class="my-1 mt-3 mx-auto">Nombre de nuits ({{booking.ad.price}} &euro;/ nuits )</dt>
            <dd class="ml-3">{{ booking.duration }} nuits</dd>
            <dt class="my-1 mt-3 mx-auto">Montant du séjour</dt>
            <dd class="ml-3">{{ booking.amount() }} &euro;</dd>
            <dt class="my-1 mt-3 mx-auto">Mon commentaire</dt>
            <dd class="ml-3">{{booking.comment | default('Pas de  commentaires') }} </dd>
        </dl>
            <div class="col-9 mt-4 d-flex flex-wrap p-1 border border-grey rounded">
                <h4 class="col-12 mb-3">Votre avis compte !!!</h4>
                <p class="col-12">Confiez-nous votre opinion sur le déroulement de votre séjour.</p>
                <div class="col-12 d-flex justify-content-center">
                {% if date() > date(booking.endDate) %}
                {% set comment = booking.ad.getCommentFromAuthor(app.user) %}
                {% if comment is not null %} 
                    <div class="col-12 d-flex justify-content-left d-flex flex-wrap">
                        <h5 class="mt-4 mb-3">Commentaire déposé</h5>
                        <blockquote><i> "{{ comment.content }}" </i></blockquote>
                        <div class="col-12 d-flex justify-content-end">
                            <p>Note: {% include "partials/rating_stars.html.twig" with {'rating':comment.rating}%}</p>
                        </div>
                    </div>
                {% else %}
                    {{ form_start(comment_form) }}
                    {{ form_widget(comment_form) }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Enregistrer mon commentaire</button> 
                    </div>
                    {{ form_end(comment_form) }}
                {% endif %}
                {% else %}
                <div>
                    <p>Vous ne pourrez déposer de commentaire qu'après votre séjour... Revenez plus tard pour en déposer un</p>
                    <p>Un formulaire apparaîtra ici même afin de vous permettre de noter et commenter votre séjour chez {{booking.ad.author.fullName}}.
                </div>
                {% endif %}
                </div>
            </div>
    </div>
</div>
<div class="endPage"></div>
{% block javascripts %}
    <script src='/public/js/complete_booking.js '></script>
{% endblock %}
{% endblock %}