{% extends 'base.html.twig' %}

{% block title %} / Liste locations{% endblock %}

{% block body %}

<div>
    <div class="row get-ad-div"
        style="background-image:url('{{ad.coverImage}}');"><div class="overlay"></div>
        <h1 class="mt-5 mb-3 text-center mx-auto">{{titre}}</h1>
        <div class="col-8 my-2 mx-auto container">
            <div class="card bg-light border border-dark">
                <div class="card-header text-center rounded h4">
                    {{ad.rooms}} {% if ad.rooms > 1 %} Chambres {% else %} Chambre {% endif %} &agrave;
                    <strong>{{ad.price}} &euro; / nuit</strong>
                    <div class="my-2">
                        <small> 
                            {% if ad.getAvgRatings %}note moyenne: {% endif %}  
                            {% include "partials/rating_stars.html.twig" with {'rating': ad.getAvgRatings}%}
                        </small>
                    </div>
                </div>
                <img src="{{ad .coverImage}}" class="img-fluid img-thumbail rounded" style="width:100%; display:block"
                    alt="image de l'appartement">
                <div class="row">
                    <div class="col-8 card-body p-0 p-md-5 mx-auto">
                        <h3 class="card-title">{{ad.title}}</h3>
                        <div class="card-subtitle text-muted my-3 h4">{{ad.introduction}}</div>
                        <div class="card-text mb-4">
                            {{ad.content| raw}}
                        </div>

                        {# Ici commence le caroussel #}
                        {% if ad.images|length >0 %}
                            <div id="carouselExampleIndicators" class="carousel slide d-xs-none d-sm-none d-lg-block" data-ride="carousel" data-interval="false">
                                <ol class="carousel-indicators">
                                    {% for image in ad.images %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active" {% endif %} ></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner mx-auto rounded bg-dark mb-4 border border-dark" style="width:60%">
                                    {% for image in ad.images %}
                                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                                            <img src="{{image.url}}" class="d-block w-60 img" alt="image {{ad.title}}">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h6>{{ad.title}}</h6>
                                            <small>{{image.caption}}</small>
                                        </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}

                        {# Position des boutons retour et réserver #}
                        <div class="row align-items-center text-center">
                            <div class="d-flex col-xs-12 col-sm-12 col-md-12 col-lg-6 text-sm-center justify-content-xs-center justify-content-sm-center justify-content-md-center justify-content-lg-start">
                                <div class="p-2 mx-xs-auto mx-sm-auto mx-md-0 mx-lg-0">
                                    <a href="{{path('list_ad')}}" class="btn btn-primary">Retour aux offres</a>
                                    <a href="{{path('ads_add_booking',{'slug':ad.slug})}}" class="btn btn-success my-2">R&eacute;server</a>
                                </div>
                            </div>
                                {% if ad.author is same as(app.user) %}
                                    <div class="d-flex col-xs-12 col-sm-12 col-md-12 col-lg-6 text-sm-center justify-content-xs-center justify-content-sm-center justify-content-md-center justify-content-lg-end">
                                        <div class="p-2 mx-xs-auto mx-sm-auto mx-lg-0">
                                            <a href="{{path('edit_ad',{'slug':ad.slug})}}" class="btn btn-warning">Modifier</a>
                                            <a href="{{path('delete_ad', {'slug':ad.slug})}}" 
                                            class="btn btn-danger my-2" 
                                            onclick="return confirm(`Confirmer la suppression de : {{ad.title}} ?`)">Supprimer</a>
                                        </div>
                                    </div>
                                {% endif %}
                        </div>
                    </div>

                    {# Ici commence la partie réservée a l'auteur de l'annonce #}   
                    <div class="col-md-10 mx-auto col-lg-4">
                    {% set a = ad.author %}
                        <div class="row align-items-center">
                            <div class="  col-12 d-flex justify-content-center text-lg-right col-lg-2 mt-5 mr-lg-2 ml-lg-0 pl-lg-0">
                                <a href="{{path('account_profil',{'slug':a.slug})}}" class="stretched-link text-decoration-none">
                                    <img src="{{a.picture}}" 
                                    class="rounded-circle img-thumbail thumbail d-block" 
                                    title="Auteur: {{a.fullName}}" 
                                    alt="image de {{a.fullname}}">
                                    </div>
                                    <div class="col-12 text-center text-lg-left col-lg-8  pl-4 pr-4 pb-4 mt-sm-2 mt-md-2 mt-lg-5">
                                    <h5>{{a.fullname}}</h5>
                                    <p class="badge badge-primary p-2">{{a.ads|length}} annonces</p>
                                </a>
                            </div>
                            <div class="col-11 mx-auto pl-lg-0 mt-lg-2 text-muted h6">
                            {{a.introduction}}
                            </div>
                            <div class="row col-11 mx-auto mx-md-auto p-4 p-lg-3 ">
                                {{a.description|raw}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Ici commence les commentaires clients #}
<div class="col-8  mx-auto p-3">
    <hr>
    <h3 class="mb-5">
        {% if ad.comments|length >0 %}
            <div class="my-4">Avis Clients</div>  
            <div class="alert alert-primary d-flex justify-content-around align-items-center flex-wrap">
                <div><h5>Note moyenne obtenue pour ce bien</h5></div>
                    <div>
                        <div class="h6 text-center">
                        {{ad.comments|length}} 
                            {% if ad.comments|length < 2 %}
                                avis posté par ce voyageur 
                            {% else %}
                                avis postés par nos voyageurs
                            {% endif %}
                        </div>
                        <div class="text-center">
                            {% include "partials/rating_stars.html.twig" with {'rating':ad.getAvgRatings()| round(0,'floor') }%}
                        </div>
                    </div>
                </div>
            
        {% else %}
        <div class="d-flex justify-content-center">Pas encore d'avis clients sur ce bien... Soyez le premier en réservant dès maintenant !!!</div> 
        {% endif %}  
    </h3>
    {% if ad.comments|length >0 %}
        {% for comment in ad.comments %}
            <div class="row col-12 d-flex align-items-start border border-dark rounded p-4 mb-4 mx-auto">
                    <div class="col-12 col-md-12 mx-auto mx-lg-0 col-lg-7">
                        <div class="ml-1">
                            Auteur de l'avis : 
                                <strong>
                                    {{ comment.author.fullName }}
                                </strong>
                        </div>
                        <div class="ml-3">
                            Créé le : 
                                <strong>
                                    {{ comment.creatAt |  format_datetime('full', 'none', locale='fr')}}
                                </strong>
                        </div>
                        <div class="ml-0 ml-md-5">A écrit : 
                            <blockquote>
                                <p><strong>
                                    "{{comment.content}}"
                                </strong></p>
                            </blockquote>
                        </div>
                        
                    </div>
                    <div class="col-12 col-lg-5 d-flex flex-wrap col-8 mx-auto justify-content-center ">
                        <p class="badge h3 p-3 d-flex flex-wrap" style="background-color:#cce5ff">{{ comment.author.fullName }}&nbsp; à noté ce bien : 
                        &nbsp;{% include "partials/rating_stars.html.twig" with {'rating': comment.rating} %}
                        </p>
                    </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}